/* 
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, gray, #7096c2);
    
}

.card {
    margin-bottom: 20px;
    border: none
}

.box {
  width: 200px;
  padding: 1px;
  position: absolute;
  top: 10%;
  left: 5%;
  background: linear-gradient(to bottom, white,gray);
  border-radius: 2em;
  border-color:darkgray;
  border-width: 25;
  border-style: groove;
  box-shadow: 3px 3px 8px 3px darkgray;
  text-align: center;
  transition: 0.25s;
  margin-top: 10px ;
  
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #050607;
  padding: 5px 5px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 150px;
  border-color: #2e9fcc
}

.box button[type="submit"],
.box button[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2e9fcc;
  padding: 5px 15px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box button[type="submit"]:hover,
.box button[type="text"]:hover {
  background: #2e9fcc
}






  .wrapper {
    margin: 20% auto;
    padding: 40px;
    max-width: 90vw;
  }
  
  .table {
    margin: 25% 0 40px 0;
    width: 100%;
   
    
    display: table;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
 
  .header {
    font-weight: 20px;
    color: black;
    background: lightgray;
    padding: 5px 7px ;
  }
  
  @media screen and (max-width: 580px) {
    .row {
      padding: 8px 0;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    display: table-cell;
    background: rgb(148, 148, 148);
    border:darkgray;
    border-style:inset;
    border-width: 1px;
    box-shadow: 3px 3px 2px 3px darkgray;
   

  }
  .cell1 {
    padding: 6px 12px;
    display: table-cell;
    background: lightgray;
    border:darkgray;
    border-style:inset;
    border-width: 1px;
    box-shadow: 3px 3px 2px 3px darkgray;
   

  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 12px;
      display: block;
    }
  }


   */